@import 'colors';
$theme-font: verdana,
sans-serif;
body {
    font: $theme-font;
    background-color: $themeColor-Light;
    h1,
    h2 {
        color: $themeColor-Dark
    }
    p {
        color: $noury-color;
    }
}